@import url("../colors.css");
.outerNavDiv{
    display:flex;
    justify-content: center;
    width:100%;
}
.navbarDiv{
    padding: .5em 0em;
    background-color:var(--container-background-color);
    display:flex;
    width:810px;
}
.socialIcon{
    height:2em;
    width:fit-content;
    padding:0 10px;
}
.navbarDiv > div{
    flex:1;
    display:flex;
}
.nameText{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0px 8px;
    margin: 3px;
    align-items:center;
}
.nameDiv{
    justify-content: left;
}
.navLinksDiv{
    justify-content: center;
}
.socialLinksDiv{
    padding: 0px 8px;
    justify-content: flex-end;
    justify-items: flex-end;
}
.navbarButtonText{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 5px;
    margin: 3px;
    transition: color 0.6s ease;
    color: white;
}
.underlineDiv {
    padding: 0px 0px;
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: 
        transform 0.6s ease,
        border-bottom 0.6s ease;
    width: 100%;
}
.activeUnderlineDiv{
    padding: 0px 0px;
    border-bottom: solid 3px var(--active-nav-color);
    transition: transform 0.6s ease;
    width: 100%;
}
li:hover .underlineDiv {
    transform: scaleX(1);
    border-bottom: solid 3px var(--active-nav-color);
}
a:hover .underlineDiv {
    transform: scaleX(1);
    border-bottom: solid 3px var(--active-nav-color);
}

ul {
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin: 0px;
    padding: 0;
}
li {
    margin: 0px 10px;
}
.activePage{
    /*color:var(--active-nav-color);*/
}
@media only screen and (max-width: 800px) {
    .navbarDiv .nameDiv {
        display: none; 
    }
    .navbarDiv{
        flex-direction: column;
    }
    .socialLinksDiv{
        justify-content: center;
        padding-top:20px;
    }
}