@import url("../colors.css");

.navbarDiv{
}
.navbarButtonText{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 5px;
    margin: 3px;
    transition: color 0.6s ease;
    color: white;
}
.underlineDiv {
    padding: 0px 0px;
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: 
        transform 0.6s ease,
        border-bottom 0.6s ease;
    width: 100%;
}
.activeUnderlineDiv{
    padding: 0px 0px;
    border-bottom: solid 3px var(--active-nav-color);
    transition: transform 0.6s ease;
    width: 100%;
}
li:hover .underlineDiv {
    transform: scaleX(1);
}

ul {
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin: 0px;
    padding: 0;
}
li {
    margin: 0px 10px;
}
.activePage{
    color:var(--active-nav-color);
}