@import url("../../globalStyles.css");

.showcaseDiv{
    height: 350px;
}

.projectShowcaseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 20px; /* Space between grid items */
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.showcaseDiv:hover h2{
    color: var(--highlight-color);
}

.showcaseProjectImage {
    transition: outline ease 0.3s;
    aspect-ratio: 16 / 9;
    width: 92%;
    outline: solid var(--unactive-color) 2.5px;
    border-radius: 3px;
    margin: 4%;
}

.showcaseDiv:hover .showcaseProjectImage{
    outline: solid var(--highlight-color) 3px;
}

.showcaseDiv p{
    margin: 3px 15px;
}