@import url("../../globalStyles.css");

.showcaseDivEntry{
    opacity: 0;
    transform: translateY(50px);
    animation: show 0.5s forwards; animation-delay: var(--animationDelay);
}

.skillTagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.skillTag {
    background-color: var(--unactive-color);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    transition: 
        background-color ease 0.3s,
        transform ease 0.3s;
}

.skillTag:hover {
    transform: scale(1.1);
}

.showcaseDiv:hover .skillTag {
    background-color: var(--highlight-color);
}

.showcaseDiv{
    height: 350px;
    text-align: center;
}

@keyframes show {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.projectShowcaseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 20px; /* Space between grid items */
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.showcaseDiv:hover h2{
    color: var(--highlight-color);
}

.showcaseDiv h2, .showcaseDiv p{
    color: var(--default-text-color);
}

.showcaseProjectImage {
    transition: outline ease 0.3s;
    aspect-ratio: 16 / 9;
    width: 92%;
    outline: solid var(--unactive-color) 2.5px;
    border-radius: 3px;
    margin: 4%;
}

.showcaseDiv:hover .showcaseProjectImage{
    outline: solid var(--highlight-color) 3px;
}

.showcaseDiv p{
    margin: 3px 15px;
}