@import url("./colors.css");

#root{
    width:100%;
}

.titleDiv{
    text-align: center;
}

.defaultOutline{
    outline: solid var(--unactive-color) 3px;
    transition: 
        outline ease 0.3s,
        transform ease 0.3s;
}

.showcaseDiv{
    outline: solid var(--unactive-color) 3px;
    height:100%;
    border-radius: 10px;
    color:var(--default-text-color);
    transition: 
        border ease 0.3s,
        transform ease 0.3s;
}

.defaultOutline:hover{
    outline: solid var(--highlight-color) 4px;
    transform: scale(1.02);
}

.showcaseDiv:hover{
    color: var(--default-text-color);
    outline: solid var(--highlight-color) 4px;
    transform: scale(1.02);
}

.showcaseDiv h2{
    transition: color ease 0.3s;
    margin: 0px 20px;
}

.backgroundImage{
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: .35;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}